<div style="background-color: burlywood;padding: 2%;text-align: center;">
<a href="javascript:void(0)" style=" margin-right:50px;"(click) = "option_click(1)">Employee Id</a>
<a href="javascript:void(0)" style=" margin-right:50px;"(click) = "option_click(2)">Employee Name</a>
<a href="javascript:void(0)" style=" margin-right:50px;"(click) = "option_click(3)">Job</a>
<a href="javascript:void(0)" style=" margin-right:50px;;"(click) = "option_click(4)">Salary</a>
<a href="javascript:void(0)" style=" margin-right:50px;;"(click) = "option_click(5)">Dept.No</a>
</div>